html {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --font1: 'Oswald', sans-serif;
    --size1: 48px;
    --lineheight1: 59px;
    --font2: 'Amiri', serif;
    --size2: 17px;
    --color2: #666;
    --size3: 22px;
}

.banner_top {
    background: url(img/fullscreen03.jpg) top center;
    background-size: cover;
    height: 600px;
    background-attachment: fixed;
    position: relative;
}

.banner_top::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(left, #00000054 0%, #11111f0f 50%, #00000059 100%);
}

.banner_top ._3cot {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
}

.banner_top ._3cot ._1cot {
    width: 33.33%;
}

.banner_top ._3cot ._1cot.cottrai a {
    font-size: 30px;
    padding: 20px 30px;
    color: white;
    display: inline-block;
}

.banner_top ._3cot ._1cot.cottrai a {}

.banner_top ._3cot ._1cot.cottrai a:hover {
    color: aquamarine;
}

.banner_top ._3cot ._1cot.cotgiua {
    text-align: center;
}

.banner_top ._3cot ._1cot.cotgiua img {
    height: 30px;
    padding-top: 20px;
}

.banner_top ._3cot ._1cot.cotphai {
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
}

.banner_top ._3cot ._1cot.cotphai a {
    font-size: 20px;
    padding: 0 5px;
    color: white;
    display: inline-block;
}

.text_banner {
    position: absolute;
    width: 100%;
    top: 40%;
    color: white;
}

.text_banner .content {
    width: 80%;
    margin: auto;
}

.text_banner .content .small {}

.text_banner .content h1 {
    font-family: var(--font1);
    font-size: var(--size1);
    line-height: var(--lineheight1);
    width: 50%;
}

@media screen and (max-width:768px) {
    .text_banner .content h1 {
        font-size: 20px;
        line-height: 30px;
        width: 70%;
    }
}

/* end .banner_top  */
.content1 {
    width: 80%;
    margin: auto;
    padding: 80px 0;
    flex-wrap: wrap;
    display: flex;
    font-family: var(--font2);
    font-style: var(--size2);
    color: var(--color2);
}

.content1 .left {
    width: 35%;
}

.content1 .left h2 {
    font-family: var(--font1);
    font-size: var(--size3);
    width: 50%;
}

.content1 .right {
    width: 65%;
}

.content1 .right p {
    line-height: 20px;
    margin-top: 15px;
}

.content1 .right p::before {
    content: "\f178";
    position: relative;
    left: -20px;
    opacity: 0;
    transition: 0.5s;
    font: normal normal normal 14px/1 FontAwesome;
}

.content1 .right p:hover::before {
    left: 0;
    opacity: 1;
}

@media screen and (max-width:768px) {
    .content1 .left {
        width: 100%;
    }

    .content1 .left h2 {
        width: 100%;
    }

    .content1 .right {
        width: 100%;
    }
}

/* end content1  */
.section_img {
    width: 80%;
    height: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.section_img .item {
    width: 49%;
    height: 48%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background-size: cover;
    margin-top: 20px;
    transition: 0.4s;
    object-fit: cover;
}
.section_img .item:hover {
    transform: scale(1.1);
}
.section_img .item .layer3 {
    background-color: black;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.4s;
    z-index: 2;
}

.section_img .item:hover .layer3 {
    opacity: 0.6;
}

.section_img .item1 {
    background: url(./img/1.jpg);
}

.section_img .item2 {
    background: url(./img/2.jpg);
}

.section_img .item3 {
    background: url(./img/3.jpg);
}

.section_img .item4 {
    background: url(./img/4.jpg);
}


.section_img .item .layer2 {
    z-index: 3;
    color: white;
    position: absolute;
    left: 10%;
    top: 55%;
    transition: 0.4s;
    opacity: 0;
}

.section_img .item:hover .layer2 {
    z-index: 3;
    color: white;
    position: absolute;
    left: 10%;
    top: 50%;
    opacity: 1;
}

.image h1 {
    padding-top: 50px;
    text-align: center;
    color: white;
}

.image {
    background: black;
}

@media screen and (max-width:768px) {
    .section_img .item {
        width: 100%;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
    }
}